.contents{
    margin-top: 10%;
    margin-left: 2%;
    width: 45%;
    padding-top: 2%;
}
.container{
    position: relative;
    left: -15%;
    width: 30%;
}
.buttons{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%
}
.header-title{
    /* margin-top: 4%; */
    margin-left: 5%;
    color:rgb(39, 39, 146);
    padding-top: 5%;
    /* margin-right: 20%; */
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}