.header-style{
    color: rgb(19, 19, 216);
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
}
.lebel{
    color: purple;
    font-weight: bold;
    margin-left: -26%;
}
.vote-lebel{
    color: rgb(50, 124, 7);
    font-weight: bold;
}
.content{
    margin-top: 15%;
    margin-left: 5%;
    margin-bottom: 2%;
}
 .img-content{
     width: 100px;
     height: 100px;
     margin-top: 2%;
 }
 .paragraphs{
     font-weight: bold;
     font-size: 15px;
     text-align: left;
 }
 .paracontent{
     text-align: left;
 }
 .cellsize{
     width: 50%;
 }
 .table-content{
     margin-left: 5%;
     color: rgb(18, 116, 83);
 }
 .confirm-content{
     margin-left: 20%;
     margin-bottom: 5%;
 }
 .confirm-image{
     margin-left: 25%;
 }
 .confirm-header{
     padding-top: 5%;
     margin-left: 20%;
 }
 .confitm-button{
     width: 150px;
     margin-left: 35%;
     margin-bottom: 2%;
 }
 