.name-header{
    color: blue;
    font-weight: bold;
}
.lebel{
    color: purple;
    font-weight: bold;
}
.vote-lebel{
    color: rgb(50, 124, 7);
    font-weight: bold;
}
.content{
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 2%;
}
 .img-content{
     width: 100px;
     height: 100px;
     margin-top: 2%;
 }
 .paragraphs{
     font-weight: bold;
 }
 .cellcontent{
     width: 300px;
 }
 .table-content{
     margin-left: 5%;
     color: rgb(18, 116, 83);
 }
 .confirm-content{
     margin-left: 20%;
     margin-bottom: 5%;
 }
 .confirm-image{
     margin-left: 25%;
 }
 .confirm-header{
     margin-left: 20%;
 }
 .confitm-button{
     width: 150px;
     margin-left: 35%;
     margin-bottom: 2%;
 }
 