.header-title{
    margin-top: 10%;
    margin-left: 5%;
    color:rgb(39, 39, 146);
    padding-top: 5%;
    /* margin-right: 20%; */
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.card-location{
    margin-top: 8%;
    margin-left: 2%;
    width: 35%;
}

.button-title{
    margin-left: 35%;
    margin-bottom: 1.5%;
    width: 120px;
}

.separator{
    margin-left: 45%; 
}
.line{
    width: 50%;
    margin-left: 25%;
}
body{
    background: url("castVote.png");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    }
