.header-title{
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
}

.card-location{
    margin-top: 10%;
    margin-left: 10%;
}

.button-title{
    margin-left: 40%;
    margin-bottom: 1.5%;
    width: 120px;
}

.separator{
    margin-left: 45%; 
}
.line{
    width: 50%;
    margin-left: 25%;
}